@model TheBookOfRecipes.Models.Recipe

@{
    ViewData["Title"] = "Create Recipe";
}

<link href="~/css/every-page.css" rel="stylesheet" />
<link href="~/css/forms.css" rel="stylesheet" />
<style>
    textarea, select {
        background-color: #f3e8e0;
    }
</style>

<h1 class="dark-blue-text text-align-center">Create Recipe</h1>

<form class="form" asp-controller="Recipes" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="dark-blue-text" asp-for="Name"></label>
        <input class="dark-blue-text" asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="dark-blue-text" asp-for="Description"></label>
        <textarea class="dark-blue-text" asp-for="Description" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="dark-blue-text" asp-for="Instructions"></label>
        <textarea class="dark-blue-text" asp-for="Instructions" required></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="dark-blue-text" asp-for="CategoryId"></label>
        <select class="dark-blue-text" asp-for="CategoryId" required>
            <option value="">Select a Category</option>
            @foreach (var category in ViewBag.Categories) {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="dark-blue-text" for="Image">Upload Image:</label>
        <input class="dark-blue-text" type="file" id="Image" name="Image" accept="image/png, image/jpeg, image/jpg, image/gif, image/bmp, image/tiff, image/webp" required />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="white-text">Create Recipe</button>
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}