@model IEnumerable<TheBookOfRecipes.Models.Recipe>

<link href="~/css/recipes.css" rel="stylesheet" />
<link href="~/css/every-page.css" rel="stylesheet" />
<link href="~/css/Recipes/recipe-index.css" rel="stylesheet" />


<h1 class="dark-blue-text">All Recipes</h1>

<hr class="block-divider-line"/>

<section id="all-recipes" class="recipe-box">
    @foreach (var recipe in Model) {
        <div class="recipe-blocks">
            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.RecipeId">
                <img src="~/@recipe.ImageUrl" alt="@recipe.Name" />
                <h5 class="light-blue-text">@recipe.Category.Name</h5>
                <h4 class="dark-blue-text">@recipe.Name</h4>
            </a>
        </div>
    }
</section>

<hr class="block-divider-line" />

