h1 {
    padding: 0.5em 0em 1em 0em;
}

.form {
    width: 40%;
    background-color: #f7ddcb;
    margin: 0em auto;
    padding: 1em 0em;
    border-radius: 1em;
    outline: 1px solid#3c4f7686;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0em auto;
    padding: 0.6em 0em;
}

label {
    font-size: 1.4em;
    padding: 0.6em 0em;
}

input {
    background-color: #f3e8e0;
    border: 1px solid#3c4f7686;
    border-radius: 5px;
    padding: 0.5em 1em;
}

button {
    padding: 0.6em 1em;
    width: auto;
    margin: 1em auto;
    border-radius: 7px;
    background-color: #383F51;
    border: 1px solid#3c4f7686;
}
