body {
    margin: 10% 0px 0px 0px;
}

.no-underline {
    text-decoration: none;
}

header.small {
    height: 60px;
    padding-top: 0px;
}

.white-text {
    color: white;
}

header.small img {
    width: 6%;
}

header img {
    width: 10%;
}

header {
    color: #f5f1ed;
    background: #252323;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 125px;
    transition: height 0.6s ease, padding 0.6s ease-out;
    padding: 2% 0px 0px 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header.small nav a {
    font-size: 16px;
}

header nav a {
    font-size: 21px;
    color: #f5f1ed;
    text-decoration: none;
    padding-top: 14%;
    transition: font-size 0.7s ease, padding-top 0.7s ease;
}

header.small h1 {
    font-size: 23px;
    padding-top: 7%;
}

header h1 {
    font-size: 35px;
    transition: font-size 0.7s ease, padding-top 0.7s ease;
}

header.small h3 {
    font-size: 11px;
}

header h3 {
    font-size: 15px;
    transition: font-size 0.5s ease;
}

.hero-blocks {
    width: 50%;
}

header.small nav a {
    padding-top: 19px;
}

header.small nav {
    height: 70px;
    gap: 40px;
}

nav {
    // height: 150px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    transition: gap 0.5s ease, height 0.5s ease;
}
