@model IEnumerable<TheBookOfRecipes.Models.Category>

<link href="~/css/every-page.css" rel="stylesheet" />
<link href="~/css/recipes.css" rel="stylesheet" />
<link href="~/css/Categories/category-index.css" rel="stylesheet" />

<h1 class="dark-blue-text">Categories</h1>

<hr class="block-divider-line"/>

<section id="categories" class="recipe-box">
    @{var random = new Random();}
    @foreach (var category in Model)
    {
        string imageUrl = category.Recipes.Select(r => r.ImageUrl).OrderBy(x => random.Next()).First();
        <div class="recipe-blocks">
            <a asp-action="Recipes" asp-controller="Categories" asp-route-id="@category.CategoryId">
                <img src="@imageUrl" alt="@category.Name" />
                <h4 class="dark-blue-text text-align-center">@category.Name</h4>
            </a>
        </div>
    }
</section>

<hr class="block-divider-line" />
